<form nz-form class="equ-info-model">
  <nz-form-item>
    <nz-form-label [nzSpan]="7">牧场名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      1号牧场
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">用户账号</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      admin
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">角色</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      管理员
    </nz-form-control>
  </nz-form-item>

</form>
