<div class="search">
    <div class="search-title">
      <i nz-icon nzType="search" nzTheme="outline"></i>
      <label style="margin-left: 5px">筛选查询</label>
    </div>
    <div class="search-main">
      <input nz-input placeholder="搜索角色名" [(ngModel)]="params.roleName" />
      <button nz-button nzType="primary" (click)="search()">搜索</button>
      <button nz-button nzType="primary" (click)="clean()">重置</button>
      <button nz-button nzType="primary" (click)="add()">添加角色</button>
    </div>
  </div>
  <div class="table">
    <tb [tbData]="tbData" (change)="tbChange($event)"></tb>
  </div>

  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzFooter]="null" [nzMaskClosable]="false" [nzWidth]="1000">
  <app-right-role  (authSave)="authSave()" [roleId]="roleId" [roleName]="roleName"></app-right-role>
</nz-modal>
Ï