<form nz-form [formGroup]="LoginForm" (ngSubmit)="submitForm(LoginForm.value)">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入用户账号!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="用户账号" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入用户密码!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="用户密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住密码</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot" routerLink="/passport/forget">忘记密码</a>
      <button nz-button class="login-form-button" [nzType]="'primary'">{{loadingdesc}}</button>
    </nz-form-control>
  </nz-form-item>
</form>
