.header {
    cursor: pointer;
    display: flex;
    font-size: 17px;
    height: 64px;
    align-items: center;
}

.header-item {
    display: block;
    min-width: 50px;
    padding: 8px 2px;
    line-height: 100%;
    text-align: center;
    border-radius: 2px;
    outline: 0;
    transition: background-color .3s;

    &:hover {
        color: #fff;
        background-color: rgba(255, 255, 255, .2) !important;
    }
}

.user {
    padding: 8px 10px !important;

    a {
        color: #fff;
        font-weight: normal;
    }
}