<div class="animated fadeInRight faster customer">
  <input nz-input placeholder="请输入关键字" nzSize="default" style="width:150px;margin-right:20px">
  <button nz-button nzType="primary" style="margin:0 20px" (click)="search()">查询</button>
  <button nz-button nzType="primary" (click)="clean()">重置</button>
  <button nz-button nzType="primary" (click)="add()" style="margin:0 20px">添加</button>
</div>
<div class="animated fadeInRight">
  <app-dw-table [tableDatas]="tableDatas" (editData)="editTb($event)" (delete)="deleteTb($event)"
    (warningData)="warningTb($event)" (meadowData)="meadowTb($event)" (userData)="userTb($event)"></app-dw-table>
  <app-dw-pagination [tableDatas]="tableDatas" (pageIndex)="pageIndex($event)"></app-dw-pagination>
</div>
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMaskClosable]="false"
  [nzFooter]="null" [nzTitle]="nzTitle">
  <app-system-meadow-model [addData]="addData"></app-system-meadow-model>
</nz-modal>
<nz-modal [(nzVisible)]="isVisibleWaring" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMaskClosable]="false"
  [nzFooter]="null" [nzTitle]="nzTitleWaring">
  <app-system-meadow-waring-model></app-system-meadow-waring-model>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleScope" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMaskClosable]="false"
  [nzFooter]="null" [nzTitle]="nzTitleScope">
  <app-system-meadow-scope-model></app-system-meadow-scope-model>
</nz-modal>
