<div class="animated fadeInRight faster customer">
  <button nz-button nzType="primary" (click)="add()" style="margin:0 20px">新增权限角色</button>
</div>
<div class="animated fadeInRight">
  <app-dw-table [tableDatas]="tableDatas" (updateAuthorityData)="updateAuthorityTb($event)"
    (empowerData)="empowerTb($event)" (editData)="editTb($event)" (delete)="deleteTb($event)"></app-dw-table>
  <app-dw-pagination [tableDatas]="tableDatas" (pageIndex)="pageIndex($event)"></app-dw-pagination>
</div>
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzMaskClosable]="false"
  [nzFooter]="null" [nzTitle]="nzTitle">
  <app-role-mmt-model></app-role-mmt-model>
</nz-modal>
