<div style="margin-bottom:20px;display: flex" class="animated fadeInRight faster">
  <nz-select style="min-width: 120px;" [compareWith]="compareFn" [(ngModel)]="selectedValue"
    (ngModelChange)="meadowChange($event)" nzPlaceHolder="选择牧场">
    <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
  </nz-select>
  <nz-select style="min-width: 120px;margin:0 20px;" [compareWith]="compareFn" [(ngModel)]="fieldValue"
    (ngModelChange)="fieldChange($event)" nzPlaceHolder="选择字段名称">
    <nz-option *ngFor="let option of fieldList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
  </nz-select>
  <input nz-input placeholder="请输入关键字" nzSize="default" style="width:150px;margin-right:20px" [(ngModel)]="field">
  <app-dw-date-picker [datePicker]="datePicker" (startTime)="launchStart($event)" (endTime)="launchEnd($event)">
  </app-dw-date-picker>
  <button nz-button nzType="primary" style="margin:0 20px" (click)="search()">查询</button>
  <button nz-button nzType="primary" (click)="clean()">重置</button>
</div>
<div class="animated fadeInRight">
  <app-dw-table [tableDatas]="tableDatas" (editData)="editTb($event)" (delete)="deleteTb($event)"
    (infoData)="infoTb($event)"></app-dw-table>
  <app-dw-pagination [tableDatas]="tableDatas" (pageIndex)="pageIndex($event)"></app-dw-pagination>
</div>
