<nz-table #basicTable [nzData]="tableDatas.dataSet" [nzShowPagination]="false" [nzTitle]="tableDatas?.title"
  [nzFooter]="tableDatas?.footer" [nzLoading]="tableDatas?.loading" [nzBordered]="tableDatas?.bordered"
  [nzSize]="tableDatas?.size" [nzPageSize]="tableDatas?.pageSize" [nzScroll]="tableDatas?.nzScroll">
  <thead>
    <tr>
      <th *ngIf="tableDatas?.checked" nzShowCheckbox [(nzChecked)]="allChecked" (nzCheckedChange)="checkAll()"></th>
      <ng-container *ngFor="let item of tableDatas.dataTh;let i = index">
        <th>{{item.title}}</th>
      </ng-container>
      <th nzWidth="tableDatas?.nzWidth" nzRight="0px"
        *ngIf="tableDatas?.operate || tableDatas?.operateInfo || tableDatas?.meadow || tableDatas?.operaUser || tableDatas?.operaRole">
        操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data;let i = index">
      <td *ngIf="tableDatas?.checkedSingle" nzShowCheckbox [(nzChecked)]="dataChecked[i].checked"
        (nzCheckedChange)="refreSingle(i)"></td>
      <td *ngIf="tableDatas?.checked" nzShowCheckbox [(nzChecked)]="dataChecked[i].checked"
        (nzCheckedChange)="refreshStatus(i)"></td>
      <ng-container *ngFor="let tb of tableDatas.tdItem;let i=index">
        <td>{{data[tb?.name]}}</td>
      </ng-container>
      <td *ngIf="tableDatas?.switch" style="text-align: center">
        <nz-switch [ngModel]="data[tableDatas?.switchName]" nzCheckedChildren="开" nzUnCheckedChildren="关"
          (ngModelChange)="changeSwitch(data)"></nz-switch>
      </td>
      <td *ngIf="tableDatas?.operate" style="font-size:16px" nzRight="0px">
        <!-- <a style="color: #18bdb1;" (click)="edit(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确定删除?" nzOkText="确定" nzCancelText="取消" (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()" style="color: red;">删除</a> -->
        <button nz-button nzType="primary" nzGhost (click)="edit(data)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost nz-popconfirm nzTitle="确认删除吗?" (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()">删除</button>
      </td>
      <td *ngIf="tableDatas?.operateInfo" style="font-size:16px" nzRight="0px">
        <!-- <a style="color: #18bdb1;" (click)="info(data)">详情</a> -->
        <button nz-button nzType="primary" nzGhost (click)="info(data)">详情</button>
      </td>
      <td *ngIf="tableDatas?.meadow" style="font-size:16px" nzRight="0px">
        <!-- <a style="color: #18bdb1;" (click)="info(data)">详情</a> -->
        <button nz-button nzType="danger" nzGhost (click)="warning(data)">预警值设置</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost (click)="meadow(data)">牧场范围</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzGhost (click)="user(data)">联系人</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzGhost (click)="edit(data)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost nz-popconfirm nzTitle="确认删除吗?" (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()">删除</button>
      </td>
      <td *ngIf="tableDatas?.operaUser" style="font-size:16px" nzRight="0px">
        <!-- <a style="color: #18bdb1;" (click)="info(data)">详情</a> -->
        <button nz-button nzType="primary" nzGhost (click)="authority(data)">查看权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzGhost (click)="edit(data)">编辑</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost (click)="password(data)">修改密码</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost nz-popconfirm nzTitle="确认删除吗?" (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()">删除</button>
      </td>
      <td *ngIf="tableDatas?.operaRole" style="font-size:16px" nzRight="0px">
        <!-- <a style="color: #18bdb1;" (click)="info(data)">详情</a> -->

        <button nz-button nzType="primary" nzGhost (click)="empower(data)">授权用户</button>
        <nz-divider nzType="vertical"></nz-divider>
        <!-- <button nz-button nzType="primary" nzGhost (click)="edit(data)">编辑</button> -->
        <!-- <nz-divider nzType="vertical"></nz-divider> -->
        <button nz-button nzType="danger" nzGhost (click)="updateAuthority(data)">修改权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" nzGhost nz-popconfirm nzTitle="确认删除吗?" (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()">删除</button>
      </td>
    </tr>
  </tbody>
</nz-table>
