.layout {
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);

}
nz-header {
    position: fixed;
    padding-left: 24px;
    width: 100%;
    min-width: 1100px;
    color: #fff;

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.header-right {
    position: absolute;
    top: 0;
    right: 24px;
}

nz-sider {
    z-index: 999;
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
    top: 64px;
    background: #fff;

    &::-webkit-scrollbar {
        display: none;
    }

}

nz-content {
    &::-webkit-scrollbar {
        display: none;
    }
}

nz-breadcrumb {
    position: fixed;
    width: 100%;
    top: 64px;
    padding: 12px 0;
    background: #f0f2f5;
}


.inner-content {
    min-width: 1100px;
    margin-top: 90px;
    margin-right: 24px;
    padding: 24px;
    text-align: center;
    overflow: initial;
    min-height: calc(100vh - 64px);
}

nz-footer {
    text-align: center;
}