<!-- <router-outlet></router-outlet> -->
<nz-layout class="layout">
  <nz-header>
    <span> {{applyName}}</span>
    <div class="header-right">
      <app-header-operate></app-header-operate>
    </div>
  </nz-header>
  <nz-layout class="inner-layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <app-sider [isCollapsed]="isCollapsed"></app-sider>
    </nz-sider>
    <nz-layout class="content">
      <nz-breadcrumb [ngStyle]="{'padding-left':isCollapsed?'104px':'225px'}" [nzAutoGenerate]="true">
      </nz-breadcrumb>
      <nz-content>
        <div class="inner-content" [ngStyle]="{'margin-left':isCollapsed?'104px':'224px'}">
          <router-outlet>
          </router-outlet>
        </div>
        <nz-footer [ngStyle]="{'margin-left':isCollapsed?'8px':'200px'}"><a href="https://github.com/ZRenu/ng-sunPawd"
            target="_blank" style="outline: none;color: #1890ff;">Sun
            Public
            Admin Web-design</a> ©2020 By <a href="https://www.zhourenu.com/" target="_blank"
            style="outline: none;color: #1890ff;">Renu</a></nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
