<!-- <router-outlet></router-outlet> -->
<nz-layout class="layout">
  <nz-header>
    <span>SUN PAWD BY RENU 后台管理系统前端框架 </span>
    <div class="header-right">
      <div class="appstore header-item">
        <i nz-icon nzType="appstore" nzTheme="outline"></i>
      </div>
      <div class="setting header-item">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </div>
      <div class="user header-item">
        <a>{{user}}</a>
      </div>
    </div>
  </nz-header>
  <nz-layout class="inner-layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="padding-bottom: 24px;">
        <ng-container *ngFor="let menu of menus">
          <li nz-submenu *ngIf="menu.children.length">
            <span title><i nz-icon [type]="menu.icon"></i><span class="nav-text">{{menu.text}}</span></span>
            <ul>
              <li nz-menu-item *ngFor="let children of menu.children" [routerLink]="[children.link]">{{children.text}}
              </li>
            </ul> 
          </li>
          <li nz-menu-item *ngIf="menu.children.length === 0" [routerLink]="[menu.link]">
            <span title><i nz-icon [type]="menu.icon"></i><span class="nav-text">{{menu.text}}</span></span>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <nz-breadcrumb [ngStyle]="{'margin-left':isCollapsed?'104px':'225px'}" [nzAutoGenerate]="true">
        </nz-breadcrumb>
        <div class="inner-content" [ngStyle]="{'margin-left':isCollapsed?'104px':'224px'}">
          <router-outlet>
          </router-outlet>
        </div>
        <nz-footer [ngStyle]="{'margin-left':isCollapsed?'8px':'200px'}"><a href="https://github.com/ZRenu/ng-sunPawd"
            target="_blank" style="outline: none;color: #1890ff;">Sun
            Public
            Admin Web-design</a> ©2020 By <a href="https://www.zhourenu.com/" target="_blank"
            style="outline: none;color: #1890ff;">Renu</a></nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
