<nz-spin nzTip="数据上传中..." [nzSpinning]="tip">
    <input nz-input placeholder="输入角色名" [(ngModel)]="roleName" />
    <nz-table #borderedTable nzBordered [nzData]="tree" [nzShowPagination]="false" style="margin-top: 20px">
      <thead>
        <tr>
          <th>模块</th>
          <th>菜单与按钮</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of borderedTable.data;let i = index">
          <td> <label nz-checkbox [(ngModel)]="data.checked">{{data.menuTitle}}</label></td>
          <td>
            <div *ngFor="let item of data.children;let c = index" class="menus">
              <label nz-checkbox [(ngModel)]="item.checked">{{item.menuTitle}}——菜单</label>
              <div class="c-menus">
                <p>按钮列表</p>
                <ng-container *ngFor="let btn of item.children;let b = index">
                  <label nz-checkbox [(ngModel)]="btn.checked">{{btn.menuTitle}}</label>
                </ng-container>
              </div>
            </div>
  
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="btns">
      <button nz-button nzType="primary" (click)="save()">完成授权</button>
    </div>
  </nz-spin>
  