<nz-table #basicTable [nzData]="tbData.nzData" [nzScroll]="tbData.nzScroll" [nzLoading]="tbData.nzLoading">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowCheckbox nzWidth="150px" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"
        [(nzChecked)]="isAllDisplayDataChecked" *ngIf="tbData.Checked">
      </th>
      <th [nzShowSort]="column.nzSortKey" *ngFor="let column of tbData.column" [nzWidth]="column.nzWidth"
        [nzLeft]="column.nzLeft" [nzRight]="column.nzRight" [nzSortKey]="column.nzSortKey"
        [nzShowFilter]="column.nzShowFilter">{{column.title}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data;let i = index">
      <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()" *ngIf="tbData.Checked"></td>
      <ng-container *ngFor="let  column of tbData.column;let i=index">
        <td [nzLeft]="column.nzLeft" [nzRight]="column.nzRight">
          {{data[column?.index]}}
          <ng-container *ngFor="let btn of column?.buttons;let b = index">
            <button nz-button [nzType]="btn.type" (click)="click($event,i,data,btn.mark)">{{btn.text}}</button>
            <nz-divider nzType="vertical" *ngIf="(column?.buttons.length-1)!==b"></nz-divider>
          </ng-container>
        </td>
      </ng-container>

    </tr>
  </tbody>
</nz-table>
