<div class="animated fadeInRight faster notice">
  <ul class="list2 clearfix" id="notice">
    <li class="clearfix" *ngFor="let item of noticeData">
      <span>{{item.title}}</span>
    </li>
  </ul>
</div>
<div class="animated fadeInRight fast tip">
  <div class="tip-item">
    <div class="tip-icon">
      <i nz-icon type="pie-chart" theme="outline" style="color:#00a1e4"></i>
    </div>
    <div class="tip-txt">
      <label>在栏总数</label>
      <p>100</p>
    </div>
  </div>
  <div class="tip-item">
    <div class="tip-icon">
      <i nz-icon type="line-chart" theme="outline" style="color:lightcoral"></i>
    </div>
    <div class="tip-txt">
      <label>出栏数量</label>
      <p>20</p>
    </div>
  </div>
  <div class="tip-item">
    <div class="tip-icon">
      <i nz-icon type="radar-chart" theme="outline" style="color:hsla(47, 100%, 50%, 0.863)"></i>
    </div>
    <div class="tip-txt">
      <label>带圈数</label>
      <p>60</p>
    </div>
  </div>
  <div class="tip-item">
    <div class="tip-icon">
      <i nz-icon type="warning" theme="outline" style="color:red"></i>
    </div>
    <div class="tip-txt">
      <label>离线</label>
      <p>40</p>
    </div>
  </div>
</div>
<div class="animated fadeInRight main">
  <div class="main-tabs">
    <a *ngFor="let item of tabs;let i = index" [ngClass]="{'main-tabs-active': tabsActive === i}" (click)="tag(i)"></a>
  </div>
  <div class="main-wrap animated fadeInRight">
    <div class="main-wrap-left">
      <div class="main-map">
        <app-map></app-map>
      </div>
      <div class="main-vidoe">
        <div class="video">
          <video
            src="http://hc.yinyuetai.com/uploads/videos/common/68E50166A93887CF06950489D3338D19.mp4?scu003d798fce3313b896ebu0026bru003d777u0026vidu003d3308607u0026aidu003d44245u0026areau003dMLu0026vstu003d0"
            controls="controls" muted></video>
        </div>
        <div class="video">
          <video
            src="http://hc.yinyuetai.com/uploads/videos/common/465C016A3D3F4F591428B2C414623EBD.mp4?scu003d2e4ac352dc6d261bu0026bru003d780u0026vidu003d3378215u0026aidu003d13743u0026areau003dACGu0026vstu003d0"
            controls="controls" muted></video>
        </div>
        <div class="video">
          <video
            src="http://hc.yinyuetai.com/uploads/videos/common/08BE016618AD811BFF4D231311173AEC.mp4?scu003de35f65dd860b3f3cu0026bru003d781u0026vidu003d3296918u0026aidu003d44245u0026areau003dMLu0026vstu003d0"
            controls="controls" muted></video>
        </div>
      </div>
    </div>
    <div class="main-wrap-right">
      <div class="main-chart">
        <app-bar></app-bar>
      </div>
      <div class="main-chart">
        <app-line></app-line>
      </div>
    </div>
  </div>
</div>
