<nz-header>
  <div class="dw-logo" [ngStyle]="{'width':isCollapsed?'80px':'200px'}">
    <i class="iconfont" *ngIf="!isCollapsed">&#xe67a;</i>
    <i class="iconfont" *ngIf="isCollapsed">&#xe603;</i>
  </div>
  <div [ngClass]="{'dw-user': !isCollapsed,'dw-user-false':isCollapsed}">
    <div class="dw-inter-change">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="changeIcon()"></i>
    </div>
    <div class="dw-inter">
      <div>
        <label>{{weathers?.city}} {{weathers?.data[0].week}} {{weathers?.data[0].wea}}
          温度：{{weathers?.data[0].tem}} 湿度：{{weathers?.data[0].humidity}} 空气质量：{{weathers?.data[0].air}}
          当前风速：{{weathers?.data[0].win_speed}}</label>
      </div>
      <div class="dw-inter-item">
        <nz-dropdown [nzPlacement]="'bottomCenter'">
          <a nz-dropdown>
            星河
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a>个人中心</a>
            </li>
            <li nz-menu-item (click)="logout()">
              <a>退出</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>
    </div>
  </div>
</nz-header>
<ng-template #suffixIconSearch>
  <i nz-icon type="search"></i>
</ng-template>
